:root {
	--default-background-color: #0a1625;
	--darker-background-color: #050e18;
	--lighter-background-color: #16283f;
	--default-font: "Montserrat", sans-serif;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	position: relative;
	overflow-x: hidden;
	font-family: var(--default-font);
	background-color: var(--darker-background-color);
	color: whitesmoke;
}

.main-container,
form {
	padding: 10px;
}
button {
	cursor: pointer;
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
}

.face-mask {
	display: none;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	/* height: 100%; */
	width: 100vw;
	width: 100svw;

	background-color: rgba(0, 0, 0, 0.45);
}

/* 
Whole section structure styling
*/
section {
	max-width: 90vw;
	background-color: var(--default-background-color);
	display: grid;
	grid-template-columns: 1fr 2.5fr;
	place-items: center;
	margin-left: auto;
	margin-right: auto;
	padding: 0.65rem;
	margin-bottom: 1rem;

	border: 0.3rem solid transparent;
	border-radius: 2rem;

	border-image: conic-gradient(
			from var(--angle),
			var(--default-background-color) 0deg 90deg,
			whitesmoke 174deg 175deg,
			var(--default-background-color) 180deg 270deg,
			whitesmoke 354deg 355deg
		)
		1 stretch;
	animation: rotate 16s linear infinite, opacityChange 16s infinite alternate;
}

/*
For border animations
*/
/* Animations */
@supports (background: paint(houdini)) {
	@property --opacity {
		syntax: "<number>";
		initial-value: 0.5;
		inherits: false;
	}

	@property --angle {
		syntax: "<angle>";
		initial-value: 0deg;
		inherits: false;
	}

	@keyframes opacityChange {
		to {
			--opacity: 0.75;
		}
	}

	@keyframes rotate {
		to {
			--angle: 360deg;
		}
	}
}

section > div {
	margin-bottom: 2rem;
}
.subinfo-container {
	max-width: 300px;
}
.intro-sub-info {
	max-width: 310px;
	justify-self: center;
	margin-right: -1.5rem;
	z-index: 1;
}
@media screen and (max-width: 1000px) {
}
.intro-sub-info,
.synopsis-watch-providers {
	margin-top: 1.5vw;
}

.sub-info {
	margin-bottom: 0.25rem;
	display: flex;
	justify-content: space-between;
}
.category-info {
	text-align: end;
}
.synopsis-watch-providers {
	padding-left: 0.5rem;
	place-self: start;
	padding-top: 4rem;
	border: 0.75px whitesmoke solid;
	border-radius: 10%;
	margin-left: -1rem;
	min-width: 100%;
	margin-right: 1.5vw;

	/* For lighter background color fill */
	min-height: 100%;
	background-color: var(--lighter-background-color);
}
.synopsis-watch-providers > * {
	margin-bottom: 2vh;
	padding-right: 1.5rem;
	padding-left: 1rem;
}
.provider-container {
	margin-top: 4vh;
}
.service-name {
	margin-bottom: 0.6rem;
}
/* 
Information intro styling
*/
.intro {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.5rem;
	text-align: center;
}
.title {
	font-family: "Times New Roman", Times, serif;
	font-size: clamp(2rem, 3vw, 2.5rem);
	font-weight: 900;
}
.poster {
	width: 300px;
	border-radius: 1rem;
	box-shadow: 0 0 0.5rem rgba(255, 255, 255, 0.7);
	margin-bottom: 1rem;
}
.summary {
	text-align: justify;
    font-size: 1.3rem;
}

/*
sub-info styling
*/

/*
Watch provider styling
*/
.provider-service-container {
	margin-bottom: 5px;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
	place-items: center;
	align-items: start;
	gap: max(1vw, 0.25rem);
}
.synopsis-watch-providers > h2 {
	font-size: 1.6rem;
}
.lost-gif{
    width: 70%;
}
.provider-img {
	border-radius: 1rem;
	width: clamp(35px, 6.5vw, 80px);
	box-shadow: 0 0 2px rgba(255, 255, 255, 0.7);
	transition: transform 0.45s ease-in-out;
}
.provider-name {
	text-align: center;
	font-size: clamp(0.65rem, 1.5vw, 0.8rem);
}

.provider-service {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.25rem;
}

.provider-service:hover {
	transform: scale(1.1);
}
.provider-img:hover {
	box-shadow: 0 0 8px rgba(0, 255, 255, 0.6);
	transform: rotate(360deg);
}

/*
Countries modal styling.
*/
.modal-country-container {
	--width: min(600px, 80vw);
	--height: 80vh;
	position: fixed;
	width: var(--width);
	height: var(--height);
	top: 50%;
	left: 50%;
	margin-top: calc(var(--height) * -1 / 2);
	margin-left: calc(var(--width) * -1 / 2);
	border: 2px solid red;
	background-color: var(--default-background-color);
	color: whitesmoke;
	overflow: scroll;
	overflow-x: hidden;
	border-radius: 1rem;
	border: 1px solid whitesmoke;
	box-shadow: 0 0 8px rgba(255, 255, 255, 0.7);
}
.modal-header {
	text-align: center;
}
.modal-header > * {
	margin: 0.5rem 0;
}
.modal-close-btn {
	position: absolute;
	top: 5px;
	right: 5px;
	border-radius: 1rem;
	padding: 0.25rem 0.35rem;
}
.modal-close-btn:hover {
	background-color: red;
	color: white;

	transform: scale(1.05);
}
.modal-current-country {
	display: flex;
	gap: 0.5rem;
	justify-content: center;
	align-items: center;
	font-size: clamp(1.25rem, 3vw, 2.25rem);
}

#modal-input-search {
	width: 85%;
	outline-color: transparent;
	border: none;
	padding: 0.35rem 0.5rem;
	background-color: var(--default-background-color);
	opacity: 0.75;
	color: white;
	box-shadow: 0 0 4px white, 0 0 8px whitesmoke;
	border-radius: 1rem;
	font-size: clamp(0.8rem, 4vw, 1.3rem);
}
.modal-header > h2 {
	font-size: clamp(1.75rem, 7vw, 2.75rem);
}

.modal-body {
	padding: 0.75rem;
}
#countries-list {
	display: flex;
	flex-direction: column;
	gap: 0.45rem;
}
.country-container {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	font-size: 1.45rem;
	padding: 0.5rem;
	height: 50px;
	border-radius: 0.75rem;
}
.country-container:hover {
	background-color: rgba(255, 255, 255, 0.25);
	cursor: pointer;
}

.modal-list-countries {
	transition: all 0.5s ease;
}
.country-container > a {
	color: white;
}
.country-flag {
	width: 10%;
	object-fit: contain;
}
.fa-check {
	margin-left: auto;
	margin-right: 2.5%;
}

/* scrollbar styling */
*::-webkit-scrollbar {
	width: 8px;
	margin-top: 5px;
}

*::-webkit-scrollbar-track {
	background-color: rgba(0, 21, 41, 0.8);
	/* border-radius: 3em; */
	box-shadow: 0 0 4px white;
}

*::-webkit-scrollbar-thumb {
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: 10px;
	border: 1px solid #ffffff;
}

*::-webkit-scrollbar-thumb:hover {
	background-color: rgba(255, 255, 255, 0.6);
}

/* 
Reviews styling
*/
.author-pic {
	width: 40px;
	border-radius: 50%;
	object-fit: contain;
	object-position: 50% 50%;
}
.review-heading {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 0.8rem;
	margin: 0.5rem 0;
}
.review-author {
	flex: 1;
	justify-self: flex-start;
}
.review-content {
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-align: justify;
	margin-bottom: 0.25rem;
}
.review-footer {
	display: flex;
	justify-content: space-between;
}
.review-updated {
	text-align: end;
}
.review-link {
	color: aquamarine;
}
.review-link:hover {
	color: whitesmoke;
	transform: scaleX(1.1);
}
.review-container {
	grid-column: 1 / -1;
	padding: 1.5vw 2.5vw;
}

/*
Trailer Styling for video responsiveness.
*/
.trailer-container {
	grid-column: 1 / -1;
	width: 70%;
	text-align: center;
}
.video-wrapper {
	position: relative;
	width: 100%;
	overflow: hidden;
	padding-top: 56.25%;
	border-radius: 1rem;
	box-shadow: 0 0 4px rgba(0, 255, 255, 0.7);
	animation: radiate-border 10s ease-in-out infinite 200ms;
}

@keyframes radiate-border {
	0% {
		box-shadow: 0 0 4px rgba(0, 255, 255, 0.7), 0 0 8px rgba(0, 255, 255, 0.6);
	}
	25% {
		box-shadow: 0 0 4px rgba(255, 0, 255, 0.7), 0 0 8px rgba(255, 0, 255, 0.6);
	}
	50% {
		box-shadow: 0 0 4px rgba(255, 255, 255, 0.7),
			0 0 8px rgba(255, 255, 255, 0.6);
	}
	75% {
		box-shadow: 0 0 4px rgba(255, 255, 0, 0.7), 0 0 8px rgba(255, 255, 0, 0.6);
	}
	100% {
		box-shadow: 0 0 4px rgba(0, 255, 100, 0.7), 0 0 8px rgba(0, 255, 100, 0.6);
	}
}
.trailer-heading {
	margin-top: 5%;
}
.trailer-heading > * {
	margin-bottom: 0.75rem;
}

.trailer-video {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	border: none;
}

/*
Movie/TvShow recommendation styling
*/
.rec-container {
	display: flex;
	gap: clamp(5px, 5%, 15px);
	padding: 5px;
}
.rec-heading {
	grid-column: 1 / -1;
	margin-bottom: 1rem;
	font-weight: 900;
}
.rec-poster {
	width: 100px;
	border-radius: 1rem;
	box-shadow: 0 0 2px white;
}
.rec-info {
	font-size: clamp(0.8rem, 1.3vw, 1rem);
	padding: 5px;
}
.rec-info > p {
	margin-bottom: 0.2rem;
}
.rec-link {
	cursor: pointer;
	text-decoration: underline;
}
.rec-link:hover {
	color: aqua;
}
.recs-container {
	grid-column: 1 / -1;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
}

@media screen and (max-width: 850px) {
	.poster {
		width: 225px;
	}

	.summary {
		font-size: 0.9rem;
	}
	.synopsis-watch-providers {
		margin-right: 0;
	}
}

@media screen and (max-width: 1400px) {
	.poster {
		width: 225px;
		margin-left: -5%;
	}
	.intro-sub-info {
		margin-right: 0;
	}
	.synopsis-watch-providers {
		margin-left: 0;
	}
}
@media screen and (max-width: 775px) {
	.poster {
		width: 175px;
	}
	section {
		grid-template-columns: 1.25fr 2.5fr;
	}
	.summary {
		font-size: 0.8rem;
	}
	.provider-service-container {
		margin-bottom: 3px;
		grid-template-columns: repeat(auto-fill, minmax(65px, 1.5fr));
		gap: max(0.75vw, 0.22rem);
	}
	.sub-info {
		font-size: 0.8rem;
	}
	.service-name-bold {
		font-size: 1.05rem;
	}
	.synopsis-watch-providers {
		margin-bottom: 1vh;
	}
	.synopsis-watch-providers > h2 {
		font-size: 1.15rem;
	}
	.review-container {
		padding: 0.65vw;
	}
	.review-content {
		font-size: 0.8rem;
	}
	.recs-container {
		place-items: center;
	}
	.rec-container {
		/* width: 50%; */
		min-width: 70%;
		max-width: 70%;
	}
	.trailer-container {
		width: 80%;
	}
	.rec-info {
		font-size: 1rem;
		min-width: 70%;
		max-width: 70%;
	}
    .lost-gif {
        width: 85%;
    }
}

@media screen and (max-width: 670px) {
	/* stop animation */
	section {
		border: 0;
	}
	.rec-container {
		min-width: 100%;
		justify-content: center;
	}
	.rec-info {
		font-size: 1.1rem;
		min-width: 65%;
		max-width: 65%;
	}
	.trailer-container {
		width: 90%;
	}

}
