* {
    box-sizing: border-box;
}

/*
sub-info styling
*/



/*
Watch provider styling
*/
.provider-service-container {
    margin-bottom: 5px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
    place-items: center;
    gap: max(2vw, 0.5rem);
}
.provider-img {
    width: 35px;
}
.provider-name {
    text-align: center;
}

.provider-service {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.25rem;
}
